<mat-card>
  <mat-toolbar color="primary">Cursos Disponíveis</mat-toolbar>

  @if (courses().length > 0) {
    <app-courses-list
  [courses]="courses()"
  (add)="onAdd()"
  (edit)="onEdit($event)"
  (remove)="onDelete($event)"> </app-courses-list>
  } @else if (isLoading()) {
    <div class="loading-spinner">
      <mat-spinner></mat-spinner>
    </div>
  } @else if (errorMessage()) {
    <div class="error-container">
      <p>{{ errorMessage() }}</p>
      <button mat-raised-button color="warn" (click)="retry()">Tentar Novamente</button>
    </div>
  } @else {
    <div class="empty-container">
      <p>Nenhum curso disponível.</p>
      <button mat-raised-button color="primary" (click)="onAdd()">Adicionar Curso</button>
    </div>
  }
</mat-card>
