@use '@angular/material' as mat;

html {
  height: 100%;
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
  height: 100%;
}

// --- Customizações da Aula 07 para alinhar com o projeto da Loiane ---

// Cor #1C8CE7 nas Toolbars (Principal e do Card)
.mat-toolbar.mat-primary {
  background-color: #1C8CE7 !important;
  color: white !important;
}

// Cor #FBFBFB no cabeçalho da tabela (Curso e Categoria)
.mat-mdc-header-row {
  background-color: #FBFBFB !important;
}

// Cor #1E1E1E nos títulos das colunas e nos dados (Angular / front-end)
.mat-mdc-header-cell {
  color: #1E1E1E !important;
  font-weight: bold;
}

.mat-mdc-cell {
  color: #1E1E1E !important;
}

// Container geral para dar o espaçamento
.container {
  margin-top: 20px;
}
